.butn{
      padding: 12px 24px;
  background-color: #6ca80a;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
.butn:hover{
    background-color: #5a8c09;
}