.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 4px;
    height: 39px;
    background-color: rgb(109, 219, 89);
}
.navbar h2{
    margin: 0 12px;
}
.navbar ul{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 39px;
}
.navbar ul li {
    list-style: none;
    padding: 7px 17px;
}
.nav{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: Arial, Helvetica, sans-serif;
    padding: 6px;
    border-radius: 5px;
    transition: all 0.2s ease;
}
.nav:hover{
    background-color: rgb(108, 168, 10);
}
.user-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 1px;
    margin-top: 2px;
    object-fit: cover;
}
